<div id="edit-password" v-cloak>
    <account-notification-banner></account-notification-banner>
    <div class="container pt-5 pb-5">
        <h1>Change password</h1>
        <hr/>
        <ajax-form ref="form" action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                   :form-data="formData"
                   :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <input-password
                            :input-name="'password'"
                            :form-errors="formErrors"
                            :form-data="formData"
                            :focus-first="true"
                            :label="'New password'"
                            :error-message="'Please enter a VALID password or choose `Cancel`.'"
                            @change="formValidate()"></input-password>
                    <password-check-panel :form-data="formData" :form-errors="formErrors"/>
                </div>
                <div class="col-sm-3"></div>

                <div class="col-sm-12">
                </div>

                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <input-password
                            :input-name="'confirmPassword'"
                            :form-errors="formErrors"
                            :form-data="formData"
                            :focus-first="false"
                            :label="'Confirm password'"
                            :error-message="'Your new password and confirmation do not match.'"
                            @change="formValidate()"></input-password>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <cloud-error v-if="cloudError"></cloud-error>
                </div>
                <div class="col-sm-6">
                    <div class="form-group text-right">
                        <a class="btn btn-outline-info" href="/account">Cancel</a>
                        <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save changes</ajax-button>
                    </div>
                </div>
            </div>
        </ajax-form>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser(); %>
